body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
} 

p{
    line-height: 2;
}

h1{
    width: 40%;
    margin: 0 auto 0;
    top: 200px;
    text-shadow: 5px 6px 7px rgb(0, 0, 0);
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #66BFBF;
    /* line-height: 2; */
}

.skill-row{
    width: 50%;
    margin: auto;
    margin: 100px auto;
    text-align: left;
    line-height: 2;   
}

h2{
    margin-top: 0px;
    font-family: arial;
    text-shadow: 4px 3px 4px rgb(0, 0, 0);
    font-size: 3rem;
    font-style: italic;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container{
    background-color: #e4f9f5;
    padding-top: 150px;
    position: relative;
    margin-bottom: 40px;
}

a{
    color: #11999E;
}

.middle-container{
   
}
.top-cloud{
    position:absolute;
    right: 400px;
    top: 90px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 30px 0;
    color: #EAF6F6;
    margin-top: 30px;
 
}

.bottom-cloud{
    position: absolute;
    top: 250px;
    left: 250px;
}

.three-image1{
    border-radius: 50%;
    height: 150px;
    width: 20%;
    float: left;
    margin-right: 30px;
    
}

.three-image2{
    border-radius: 50%;
    height: 150px;
    width: 20%;
    float: right;
    margin-left: 30px;
}

.three-image3{
    border-radius: 50%;
    height: 150px;
    width: 20%;
    float: left;
    margin-right: 30px;
}

.three-image4{
    border-radius: 50%;
    height: 150px;
    width: 20%;
    float: right;
    margin-left: 30px;
}
/* 

.para1{
    clear:left; 
}
.para2{
    clear:right;
    text-align: right;
}
.para3{
    clear: left;
} 
*/
.profile-photo{
    border-radius: 90%;
    width: 200px;
    height: 200px;
}

.footer-link{
    transition: .2s;
    margin: 2px;
    /* border-radius: 50%; */
}

.footer-link:hover{
    transform: scale(1.25);
}

hr{
    height: 3px;    
    width: 5%;
    border: 8px dotted #EAF6F6 ;
    border-bottom: none;
    margin: 150px auto;
}

.copyright{
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 1px;
}

/* Button Styling */

.btn {
    background-color: #30e3cb; /* Green */
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  
  .btn:hover { 
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.54);
  }