<%- include('partials/header') -%>
     <div style="height: 61vh; line-height: 2; font-size: large;">
          <h1>About us</h1>
          <p>
               <%= aboutText %>
          </p>
     </div>
<%- include('partials/footer') -%>
