<%- include('partials/header') -%>
     <h2><%= heading %></h2>
     <pre><%= paragrah %></pre>

     <button class="btn btn-success">
          <a href="/" style="text-decoration: none; color: white;">Go back</a>
     </button>
<%- include('partials/footer') -%>