
<%- include('Header') -%>

<center>
     <div style="width: 50%;margin-top: 100px">
          <div class="box" id="heading">
               <h1>About us</h1>
          </div>
          <p>  
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium explicabo saepe perferendis sunt. 
               Expedita odio repudiandae necessitatibus, nobis alias asperiores cum est quia cupiditate sapiente molestias 
               minus itaque eveniet? Natus!
          </p>
     </div>
</center>

<%- include('Footer') -%>