h1{
    color: black;
    font-size: 150px;
}


#head:hover{
    color: crimson;
}   

body {
    background-color: aquamarine;
}

/* img{
    background-color: blueviolet;
} */

.becon{
    background-color: rgb(230, 137, 137);
}

.becon2{
    background-color: rebeccapurple;
}

.CIRCULAR{
    border-radius: 40px;
}
img:hover {
    background-color: red;
}